<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Payments' } %>

<% admin_breadcrumb(link_to plural_resource_name(Spree::Payment), spree.admin_order_payments_path(@order)) %>
<% admin_breadcrumb(payment_method_name(@payment)) %>
<% admin_breadcrumb(Spree.t('refund', :scope => :paypal)) %>

<%= form_tag paypal_refund_admin_order_payment_path(@order, @payment) do %>
  <div class="label-block left five columns alpha">
    <div>
      <fieldset data-hook="admin_variant_new_form">
        <legend><%= Spree.t('refund', :scope => :paypal) %></legend>
        
        <div class='form-group'>
          <%= label_tag 'refund_amount', Spree.t(:refund_amount, :scope => 'paypal') %>
          <small><em><%= Spree.t(:original_amount, :scope => 'paypal', :amount => @payment.display_amount) %></em></small><br>
        </div>

        <% currency = ::Money::Currency.new(Spree::Config[:currency]) %>
        <div class="form-group">
          
          <div class="input-group number-with-currency number-with-currency-with-select js-number-with-currency">
            <div class="input-group-prepend">
              <span class="input-group-text number-with-currency-addon" data-currency="<%= currency %>">
                <%= ::Money::Currency.find(currency).iso_code %>
              </span>
            </div>
            <%= text_field_tag 'refund_amount', number_to_currency(@payment.amount, unit: '', delimiter: ''), class: 'form-control col-3 number-with-currency-amount', required: true %>
            <div class="input-group-append">
              <span class="input-group-text">
                <span class="fa fa-money"></span>
              </span>
            </div>
          </div>
          
        </div>

        <div class="form-group">
          <%= button Spree.t(:refund, scope: 'paypal'), 'reply', class: 'btn btn-primary' %>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
